extends ./layouts/main.pug

block content
  div
    nav.navbar(style="background-color: #4d51ab;")
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(src='images/twitter.png', width='30', height='25', alt='')
        #bs-example-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a.span.glyphicon.glyphicon-home(href="/home")
                span.sr-only (current)
            li
              a.span.glyphicon.glyphicon-globe(href="#")
            li
              a.span.glyphicon.glyphicon-envelope(href="#")
            li
              a.span.glyphicon.glyphicon-log-out.logout(href="/logout", data-toggle="tooltip", data-placement="bottom", title="logout")

          .chip
            span
            a(href="/profile", data-toggle="tooltip", data-placement="bottom", title="Profile")
              img(src='images/human-greeting.png', alt='Person', width='96', height='96')

          span.tweet(data-toggle="tooltip", data-placement="bottom", title="tweet")
            img(src='images/feather.png', alt='tweet', width='25', height='25', data-toggle='modal', data-target='#myModal')
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title(style='color: #4d51ab') Tweet
                  .modal-body
                    form(id='tweet', method='post', action='/tweet' enctype='multipart/form-data')
                      .form-group
                        .input-group
                          label(for='text', style='color: #4d51ab') what's on your mind ?
                        textarea#text.form-control(rows='5', name='tweettxt', maxlength='140')
                      button.btn.btn-primary.form-control(type='submit') tweet
                      br
                      input.form-control(type='file', name='file')
    .container
      h1 Edit Profile
      hr
      .row
        form.form-horizontal(role='form',enctype= "multipart/form-data", action='/editprofile', method='post')
          each r in res
            // left column
            .col-md-3
              .text-center
                img.avatar.img-circle(src='images/profile/'+r.image, alt='avatar', style='width:100%')
                h6 Upload a different photo...
                input.form-control(type='file', name='file')
            // edit form column
            .col-md-9.personal-info
              .alert.alert-info.alert-dismissable
                a.panel-close.close(data-dismiss='alert') ×
                i.fa.fa-coffee
                |           This is an
                strong .alert
                | . You change your personal info.
              h3 Personal info
              .form-group
                label.col-lg-3.control-label Username:
                .col-lg-8
                  input.form-control(type='text', placeholder='username', name='username', value=r.username)
              .form-group
                label.col-lg-3.control-label Email:
                .col-lg-8
                  input.form-control(type='email', placeholder='email', name='email', value=r.email)
              .form-group
                label.col-lg-3.control-label Password:
                .col-lg-8
                  input.form-control(type='password', placeholder='Password', name='password', value=r.password)
          .form-group
            label.col-md-3.control-label
            .col-md-8
              input.btn.btn-primary(type='submit', value='Save Changes')
              | &nbsp
              span
              input.btn.btn-default(type='submit', value='Cancel')
      hr

