extends ./layouts/main.pug

block content
  div
    nav.navbar(style="background-color: #4d51ab;")
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(src='images/twitter.png', width='30', height='25', alt='')
        #bs-example-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a.span.glyphicon.glyphicon-home(href="/home")
                span.sr-only (current)
            li
              a.span.glyphicon.glyphicon-globe(href="#")
            li
              a.span.glyphicon.glyphicon-envelope(href="#")
            li
              a.span.glyphicon.glyphicon-log-out.logout(href="/logout", data-toggle="tooltip", data-placement="bottom", title="logout")

          .chip
            span
            a(href="/profile", data-toggle="tooltip", data-placement="bottom", title="Profile")
              img(src='images/human-greeting.png', alt='Person', width='96', height='96')

          span.tweet(data-toggle="tooltip", data-placement="bottom", title="tweet")
            img(src='images/feather.png', alt='tweet', width='25', height='25', data-toggle='modal', data-target='#myModal')
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title(style='color: #4d51ab') Tweet
                  .modal-body
                    form(id='tweet', method='post', action='/tweet' enctype='multipart/form-data')
                      .form-group
                        .input-group
                          label(for='text', style='color: #4d51ab') what's on your mind ?
                        textarea#text.form-control(rows='5', name='tweettxt', maxlength='140')
                      button.btn.btn-primary.form-control(type='submit') tweet
                      br
                      input.form-control(type='file', name='file')

  // Page Container
  .w3-container.w3-content(style='max-width:1400px;margin-top:80px')
    // The Grid
    .w3-row
      // Left Column
      .w3-col.m3
        // Profile
        .w3-card-2.w3-round.w3-white
          each user in users
            .w3-container
              h4.w3-center
                span= user.username

              a(href="/editprofile", style='color: #4d51ab')  Edit
              br
              br
              p.w3-center
                 - if(user.image){
                    img.w3-circle(src='images/profile/'+user.image, alt='Avatar', style='height:106px;width:106px')
                 - }
                 - else{
                    img.w3-circle(src='images/images.png'+user.image, style='height:106px;width:106px', alt='Avatar')
                 - }

              br

      .w3-col.m9
          .w3-row-padding
            .w3-col.m12
              .w3-container.w3-round.w3-theme-l7.w3-border.w3-theme-border.w3-margin-bottom.w3-hide-small
                  span.w3-hover-text-grey.w3-closebtn(onclick="this.parentElement.style.display='none'")
                    i.fa.fa-remove
                  p(style='color: #4d51ab')
                    strong Find More Friends..
                  p(style='color: #4d51ab')
                    | lets make more friends extend your network..

    br
    .w3-row
      .w3-col.m12
        each name in follow
          .w3-col.m3(style='padding: 5px')
            .w3-card-2.w3-round.w3-white.w3-center
              .w3-container
                br
                img(src='images/profile/'+name.image, alt='followers', style='width:100px; height:100px')
                br
                br
                span= name.username
                .w3-row.w3-opacity
                  form(method='post', action='/follow')
                    input(type = 'hidden', name='myfollow',  value= name.id)
                    button.w3-btn.w3-green.w3-btn-block.w3-section(title='Accept' type='submit')
                      i.fa.fa-check
